<launch>
    <!-- Arguments -->
    <arg name="url" default="ws://0.0.0.0:8439" doc="The URL of the robot." />
    <arg name="read_only" default="false" doc="Whether to read only the arm state." />
    <arg name="rate_ros" default="300" doc="The rate of the node." />
    <arg name="joint_config_path" default="$(find hex_device)/config/joints.json" doc="The path to the joint config file." />
    <arg name="init_pose_path" default="$(find hex_device)/config/init_pose.json" doc="The path to the init pose file." />
    <arg name="gripper_type" default="0" doc="The type of the Gripper (integer)." />
    <arg name="arm_series" default="16" doc="The series of the Archer (integer)." />

    <!-- xpkg_bridge node -->
    <node name="xnode_bridge" pkg="xpkg_bridge" type="xnode_bridge" respawn="false" output="screen" required="false">
        <param name="url" value="$(arg url)"/>
        <param name="read_only" value="$(arg read_only)"/>

        <remap from="/ws_up" to="/ws_up" />
        <remap from="/ws_down" to="/ws_down" />
    </node>

    <!-- hex_device node -->
    <node name="hex_device" pkg="hex_device" type="arm_trans.py" output="screen">
        <param name="joint_config_path" value="$(arg joint_config_path)"/>
        <param name="init_pose_path" value="$(arg init_pose_path)"/>
        <param name="gripper_type" value="$(arg gripper_type)"/>
        <param name="arm_series" value="$(arg arm_series)"/>

        <remap from="/xtopic_arm/joints_cmd" to="/xtopic_arm/joints_cmd" />
        <remap from="/xtopic_arm/joint_states" to="/xtopic_arm/joint_states" />
        <remap from="/xtopic_arm/gripper_cmd" to="/xtopic_arm/gripper_cmd" />
        <remap from="/xtopic_arm/gripper_states" to="/xtopic_arm/gripper_states" />
    </node>
</launch>